.contacts {
    @include box;
    height    : 100%;
    background: $blue;
    
    &::after {
        content      : "";
        height       : 230px;
        width        : 230px;
        position     : absolute;
        z-index      : 1;
        left         : 208px;
        top          : -115px;
        background   : rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }

    .layout1110 {
        margin  : 0 auto;
        position: relative;
        width   : 1110px;
        @media (max-width: 1109px) {width: 96%;}
      
        .center {
            display        : flex;
            justify-content: space-between;
            position: relative;
            z-index: 2;


            ul {
                display: block;
                height : 429px;
                margin : 0 0 54px 0;

                li {
                    display: block;
                    margin : 0 0 50px 0;

                    b {
                        display    : block;
                        height     : 33px;
                        font-family: 'Open Sans', sans-serif;
                        font-style : normal;
                        font-size  : 24px;
                        color      : #0B1142;
                        margin     : 0 0 30px 0;

                    }

                    div {
                        display: block;
                    }

                    .phone {
                        display: block;

                    }

                    img {
                        height: 40px;
                        width : 40px;
                        float : left;
                        margin: 0 23px 0 0;
                    }

                    .mail {
                        img {
                            height: 30px;
                            width : 40px;

                        }
                    }

                    .clock {
                        display: block;

                        p {
                            display    : block;
                            font-family: 'Open Sans', sans-serif;
                            font-style : normal;
                            font-weight: normal;
                            font-size  : 20px;
                            width      : 250px;
                            color      : #0B1142;
                        }
                    }
                }

                a {
                    display       : flex;
                    flex-direction: column;
                    font-family   : 'Open Sans', sans-serif;
                    font-style    : normal;
                    font-weight   : normal;
                    font-size     : 20px;
                    color         : #0B1142;
                    @include hover_animation;

                    &:hover {
                        color: #F0F2FF;
                        @include hover_animation;
                    }
                }

                .map {
                    display : block;
                    height  : 429px;
                    width   : 538px;
                    position: relative;
                    z-index : 2;

                    .iframe {
                        height: 100%;
                        width : 100%;
                        position: relative;
                        z-index : 2;

                    }
                }
            }

        }
    }

    &::before {
        content      : "";
        float        : right;
        position     : absolute;
        z-index      : 1;
        right        : -94px;
        bottom       : -90px;
        height       : 361px;
        width        : 361px;
        background   : rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }
}