header {
    @include box;
    height    : 104px;
    position  : absolute;
    z-index   : 2;
    background: rgba(106, 186, 253, 0.5);

    @media (max-width: 767px) {
        background: none;
    }


    .logo {
        @include box;
        float : left;
        height: 48px;
        width : 58px;
        margin: 28px 30px 0 0;

        @media (max-width: 320px) {
            margin: 28px 0 0 0;
        }

        a {
            @include box;
            height: 100%;

            img {
                width   : 100%;
                height  : 100%;
                display : block;
                overflow: hidden;
            }

            h1 {
                text-indent: -9999px;
            }
        }
    }

    nav {
        float: left;

        ul {
            float     : left;
            margin    : 40px 0 0 0;
            box-sizing: border-box;

            li {
                float   : left;
                overflow: hidden;
                margin  : 0 46px 0 0;

                @media (max-width: 1247px) {
                    margin: 0 20px 0 0;
                }

                a {
                    @include box;
                    font-family: 'Abhaya Libre', serif;
                    font-style : normal;
                    font-weight: 600;
                    font-size  : 18px;
                    text-align : center;
                    color      : #0B1142;
                    @include hover_animation;

                    &:hover {
                        color: #F0F2FF;
                        @include hover_animation;
                    }

                    @media (max-width: 1247px) {
                        font-size: 12px;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    .number {
        float   : right;
        overflow: hidden;

        @media (max-width: 767px) {
            display: none;
        }

        img {
            float   : right;
            overflow: hidden;
            margin  : 36px 61px 0 0;
            height  : 32px;
            width   : 32px;


        }

        .phone_number {
            float     : right;
            margin    : 28px 26px;
            box-sizing: border-box;

            a {

                display    : block;
                font-family: 'Roboto', sans-serif;
                font-style : normal;
                font-weight: 500;
                font-size  : 22px;
                line-height: 136%;
                text-align : center;
                color      : #0B1142;
                width      : 100%;
                overflow   : visible;
                @include hover_animation;

                &:hover {
                    color: #F0F2FF;
                    @include hover_animation;
                }

                @media (max-width: 1247px) {
                    font-size: 12px;
                }
            }
        }
    }
}